header {
  align-items: center;
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  position: sticky;
  top: 0;
}

.logo {
  color: var(--color-bold);
  font-family: var(--font-secondary);
  font-size: 2.4rem;
  height: 3rem;
}

.header-nav {
  align-items: center;
  display: flex;
}

.header-desktop-view {
  display: none;
}

.header-desktop-view a {
  text-transform: uppercase;
}

.header-mobile-and-tablet-view {
  align-items: center;
  display: flex;
}

.mobile-and-tablet-cart-icon-container {
  color: var(--color-bold);
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
}

.mobile-and-tablet-cart-icon {
  margin-right: 0.5rem;
}

.hamburger-btn {
  background-color: inherit;
  border-style: none;
  padding-left: 3rem;
}

.close-hamburger-btn {
  background-color: inherit;
  border-style: none;
  margin: 2rem;
}

.hamburger-overlay {
  background-color: var(--color-bold);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hamburger-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
}

.hamburger-content a {
  color: var(--color-bold);
  font-size: 2.2rem;
  text-transform: uppercase;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo {
    font-size: 2.8rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding: 3rem 15rem;
  }

  .header-mobile-and-tablet-view {
    display: none;
  }

  .header-desktop-view {
    display: flex;
    gap: 8rem;
  }

  .header-desktop-view a {
    color: var(--color-bold);
  }

  .cart-icon {
    display: flex;
  }

  .cart-item-count {
    margin-left: 1rem;
  }
}
