.cart-container {
  background-color: var(--color-light);
  color: var(--color-bold);
  padding: 4rem 2rem;
}

.cart-heading {
  margin-bottom: 4rem;
}

.cart-container-content {
  display: grid;
  gap: 6rem;
  margin-bottom: 4rem;
}

.cart {
  display: grid;
  gap: 4rem;
}

.clear-cart-btn {
  background-color: var(--color-extrabold);
  border-radius: 1rem;
  border-style: none;
  color: var(--color-extralight);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.clear-cart-btn:hover {
  opacity: 0.5;
}

.full-cart {
  display: grid;
  gap: 2rem;
}

.cart-item {
  background-color: var(--color-extralight);
  border-radius: 0.5rem;
  color: var(--color-bold);
  display: flex;
  gap: 1.5rem;
  padding: 1.5rem;
  justify-content: space-between;
  width: 100%;
}

.cart-item-primary,
.cart-item-secondary {
  display: flex;
  flex-direction: column;
}

.cart-item-primary {
  gap: 1rem;
}

.cart-item-quantity,
.cart-item-name {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart-item-price,
.cart-item-flavor {
  font-size: 1.6rem;
  font-style: italic;
}

.cart-item-img {
  height: 8rem;
  margin-top: 2rem;
  object-fit: cover;
  width: 8rem;
}

.remove-item-btn {
  background-color: inherit;
  border-style: none;
  height: 2.4rem;
  margin: auto;
  width: 2.4rem;
}

.quantity-btns {
  display: flex;
  gap: 2rem;
}

.decrement-btn,
.increment-btn {
  align-items: center;
  background-color: var(--color-extrabold);
  border-radius: 0.5rem;
  border-style: none;
  color: var(--color-extralight);
  display: flex;
  height: 2.5rem;
  justify-content: center;
  width: 3rem;
}

.total {
  display: grid;
  gap: 1rem;
}

.total-primary,
.total-secondary,
.total-tertiary {
  display: grid;
  gap: 0.5rem;
}

.total-tertiary {
  margin-bottom: 2rem;
}

.total-btn {
  margin: auto;
}

.subtotal-container,
.tax-container,
.grand-total-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.subtotal,
.subtotal-number,
.tax,
.tax-number,
.grand-total,
.grand-total-number {
  font-size: 1.6rem;
  font-weight: 500;
}

.checkout-btn,
.go-to-menu-btn {
  background-color: var(--color-extrabold);
  border-radius: 4rem;
  color: var(--color-extralight);
  border-style: none;
  padding: 1.5rem 6rem;
}

.empty-cart-content {
  min-height: 42rem;
}

.empty-cart {
  font-style: italic;
  opacity: 0.5;
}

.go-to-menu-btn {
  margin-top: 4rem;
}

.remove-item-btn:hover,
.remove-item-btn:focus,
.increment-btn:hover,
.increment-btn:focus,
.decrement-btn:hover,
.decrement-btn:focus {
  opacity: 0.65;
}

.checkout-btn:hover,
.checkout-btn:focus,
.go-to-menu-btn:hover,
.go-to-menu-btn:focus {
  opacity: 0.65;
  transform: scale(0.95);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cart-container {
    padding: 6rem 18rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cart-container {
    padding: 8rem 18rem;
  }
  .full-cart {
    grid-template-columns: 1fr 1fr;
  }
}
