.cart-container {
  background-color: var(--color-light);
  padding: 4rem 2rem;
}

.cart-heading {
  margin-bottom: 4rem;
}

.cart-container-content {
  display: grid;
  gap: 6rem;
  margin-bottom: 4rem;
}

.cart {
  display: grid;
  gap: 2rem;
}

.clear-cart-btn {
  background-color: #808080;
  border-radius: 0.75rem;
  border-style: none;
  color: var(--color-extralight);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
}

.clear-cart-btn:hover {
  opacity: 0.5;
}

.full-cart {
  display: grid;
  gap: 2rem;
}

.cart-item {
  background-color: var(--color-extralight);
  border: 1.5px solid #d3d3d3;
  border-radius: 0.5rem;
  color: var(--color-bold);
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  width: 100%;
}

.cart-item-primary,
.cart-item-secondary {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart-item-quantity,
.cart-item-name {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart-item-price {
  color: var(--color-bold);
  font-size: 1.6rem;
  font-weight: 500;
}

.cart-item-img {
  height: 6.5rem;
  object-fit: cover;
  width: 6.5rem;
}

.cart-item-flavor {
  font-style: italic;
}

.remove-item-btn {
  background-color: inherit;
  border-style: none;
  color: var(--color-bold);
  height: 2.4rem;
}

.total {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.total-primary {
  color: var(--color-extrabold);
  display: grid;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.subtotal-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.subtotal,
.subtotal-number {
  font-size: 1.6rem;
  font-weight: 500;
}

.total-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-btn {
  background-color: var(--color-bold);
  border-radius: 4rem;
  color: var(--color-extralight);
  border-style: none;
  font-weight: 500;
  padding: 1.5rem 6rem;
}

.empty-cart {
  font-style: italic;
  min-height: 42rem;
  opacity: 0.5;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cart-container {
    padding: 6rem 15rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cart-container {
    padding: 8rem 15rem;
  }
}
