.checkout-container {
  background-color: var(--color-light);
  display: grid;
  gap: 2rem;
  padding: 4rem 2rem;
}

.back-to-cart-link {
  align-items: center;
  color: var(--color-bold);
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
}

.back-to-cart-link:hover {
  text-decoration: underline;
}

.back-arrow-icon {
  height: 2rem;
  width: 2rem;
}

.checkout-steps-container {
  display: grid;
  gap: 4rem;
}

.checkout-subheading {
  color: var(--color-old);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-transform: none;
}

.steps {
  font-size: 1.8rem;
}

hr {
  border: 1px solid #d3d3d3;
}

select {
  background-color: var(--color-extralight);
  color: var(--color-bold);
  padding: 1.5rem;
  width: 100%;
}

.select:focus {
  border: 1.5px solid var(--color-medium);
  outline: none;
}

.checkout-cart {
  display: grid;
  gap: 2rem;
}

.checkout-full-cart {
  display: grid;
  gap: 2rem;
}

.checkout-cart-item {
  background-color: var(--color-extralight);
  border: 1.5px solid #d3d3d3;
  border-radius: 0.5rem;
  color: var(--color-bold);
  display: grid;
  gap: 1.5rem;
  padding: 1.5rem;
  width: 100%;
}

.checkout-cart-item-primary,
.checkout-cart-item-secondary {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.checkout-cart-item-quantity,
.checkout-cart-item-name {
  font-size: 1.6rem;
  font-weight: 700;
}

.checkout-cart-item-price {
  font-size: 1.6rem;
  font-weight: 500;
}

.checkout-cart-item-flavor {
  font-style: italic;
}

.checkout-cart-item-img {
  height: 10rem;
  object-fit: cover;
  width: 10rem;
}

input {
  background-color: var(--color-extralight);
  border: 1px solid var(--color-bold);
  padding: 1.5rem;
  width: 100%;
}

.checkout-order-total-container {
  align-items: center;
  color: var(--color-bold);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}

.checkout-order-total,
.checkout-order-total-number {
  font-size: 1.6rem;
  font-weight: 500;
}

.details-form {
  display: grid;
  gap: 1.5rem;
}

.checkout-form-input {
  color: var(--color-bold);
  width: 100%;
}

.checkout-form-input:focus {
  border: 1px solid var(--color-medium);
  outline: none;
}

.checkout-complete-order-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.payment-btn {
  background-color: var(--color-bold);
  border-radius: 4rem;
  color: var(--color-extralight);
  border-style: none;
  font-weight: 500;
  padding: 1.5rem 6rem;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .checkout-container {
    padding: 4rem 15rem;
  }
}
