.contact-container {
  background-color: var(--color-light);
  color: var(--color-bold);
  display: grid;
  gap: 2rem;
  padding: 4rem 2rem;
}

.contact-info {
  display: grid;
  gap: 6rem;
}

.phone-and-email {
  display: grid;
  gap: 1.5rem;
}

.contact-form-container {
  margin-bottom: 4rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

label {
  font-size: 1.6rem;
  font-weight: 400;
}

input,
textarea {
  background-color: var(--color-extralight);
  border: 2px solid var(--color-bold);
  padding: 1.5rem;
  width: 100%;
}

.contact-form-input:focus,
.contact-form-textarea:focus {
  border: 2px solid var(--color-medium);
  outline: none;
}

.contact-success {
  color: var(--color-success);
  font-size: 1.4rem;
  font-style: italic;
}

.contact-error {
  color: var(--color-error);
  font-size: 1.4rem;
  font-style: italic;
}

.contact-btn {
  background-color: var(--color-extrabold);
  border-radius: 2.75rem;
  border-style: none;
  color: var(--color-light);
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 2rem;
  padding: 1.5rem;
  width: 20rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contact-container {
    padding: 6rem 16rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contact-container {
    padding: 8rem 16rem;
  }
}
