.home-container {
  background-color: var(--color-light);
  color: var(--color-bold);
  display: grid;
  gap: 10rem;
  padding: 4rem 2rem 2rem 2rem;
}

h1 {
  margin-bottom: 2rem;
}

.gallery-container {
  display: grid;
  gap: 2rem;
}

.location-and-hours {
  margin-bottom: 8rem;
}

.location-and-hours-details {
  display: grid;
  gap: 2rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .home-container {
    gap: 12rem;
  }

  .gallery-container {
    grid-template-columns: 1fr 1fr;
  }

  .location-and-hours {
    margin-bottom: 12rem;
  }

  .our-story,
  .our-coffee,
  .location-and-hours {
    padding: 0rem 15rem;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home-container {
    gap: 15rem;
  }

  .hero {
    margin: 0rem 40rem;
  }

  .our-story,
  .our-coffee,
  .location-and-hours {
    padding: 0rem 35rem;
  }

  .gallery {
    padding: 0rem 15rem;
  }

  .gallery-container {
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .location-and-hours {
    margin-bottom: 15rem;
  }
}
