.menu-item {
  background-color: var(--color-extralight);
  border: 1.5px solid #d3d3d3;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
}

.menu-item:hover {
  border: 1.5px solid var(--color-bold);
  cursor: pointer;
}

.menu-item-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu-item-name,
.menu-item-price,
.menu-item-description,
.menu-item-ingredients {
  font-size: 1.6rem;
}

.menu-item-name,
.menu-item-price {
  font-weight: 800;
}

.menu-item-price {
  color: var(--color-bold);
}

.menu-item-modal-container {
  background-color: var(--color-light);
  border: 20px solid #d3d3d3;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}

.close-menu-item-modal-btn {
  background-color: var(--color-light);
  border-style: none;
  padding: 2rem;
}

.menu-item-modal {
  display: grid;
  gap: 6rem;
  padding: 2rem;
}

.menu-item-modal-header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.menu-item-modal-heading {
  font-size: 3.2rem;
  margin-bottom: 0rem;
}

.menu-item-modal-price {
  color: var(--color-bold);
  font-size: 2.2rem;
  font-weight: 900;
  margin-bottom: 4rem;
}

.menu-item-modal-description,
.menu-item-modal-ideas,
.menu-item-modal-flavor {
  font-size: 1.6rem;
}

.menu-item-modal-content {
  display: grid;
  gap: 2rem;
}

.menu-item-modal-form {
  display: grid;
  gap: 4rem;
}

.modal-quantity-container {
  align-items: center;
  display: flex;
  margin: auto;
}

.menu-item-modal-quantity {
  font-size: 2rem;
  font-weight: 500;
  margin: 1.5rem;
}

.menu-item-modal-decrement-btn,
.menu-item-modal-increment-btn {
  align-items: center;
  background-color: #808080;
  border-style: none;
  color: var(--color-extrabold);
  display: inline-flex;
  padding: 1rem;
}

.menu-item-modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-btn {
  background-color: var(--color-bold);
  border-radius: 4rem;
  color: var(--color-extralight);
  border-style: none;
  font-weight: 500;
  padding: 1.5rem 6rem;
}

.add-to-cart-btn:hover {
  background-color: var(--color-medium);
}

:disabled:hover {
  background-color: #d3d3d3;
}

:disabled {
  background-color: #d3d3d3;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .menu-item-modal-container {
    bottom: 0;
    height: 92.5%;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 82.5%;
  }
}
