.payment-container {
  background-color: var(--color-light);
  display: grid;
  gap: 2rem;
  padding: 4rem 2rem;
}

.back-to-checkout-link {
  align-items: center;
  color: var(--color-extrabold);
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
}

.back-to-checkout-link:hover {
  text-decoration: underline;
}

.back-arrow-icon {
  height: 2rem;
  width: 2rem;
}

.payment-steps {
  font-size: 1.8rem;
}

.payment-subheading {
  color: var(--color-extrabold);
  font-size: 2.4rem;
  font-weight: 500;
}

.complete-order-btn {
  background-color: var(--color-bold);
  border-radius: 4rem;
  color: var(--color-extralight);
  border-style: none;
  font-weight: 500;
  padding: 1.5rem 6rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .payment-container {
    padding: 4rem 15rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
