:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Fugaz One", sans-serif;
  --color-extralight: /*#f3f1ed;*/ #fff;
  --color-light: #e5e0df;
  /*--color-medium: #c4bfb8;*/
  --color-bold: #0a1c38;
  --color-extrabold: #ffc40c;
  --color-black: #000000;
  --color-success: #02a402;
  --color-error: #ff0000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}

html {
  font-size: 62.5%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

h1,
h2,
h3 {
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

p,
a,
input,
button,
label,
select,
textarea,
ul,
label {
  font-size: 1.6rem;
}

input,
textarea {
  color: var(--color-bold);
  font-family: var(--font-primary);
}

textarea {
  resize: none;
}

p {
  font-weight: 400;
  line-height: 2.8rem;
}

a:hover,
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button {
  font-family: var(--font-primary);
  font-weight: 500;
}

button:hover,
button:focus {
  opacity: 0.6;
}

li {
  font-weight: 400;
  list-style: none;
}

img {
  border-radius: 1.5rem;
  width: 100%;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  p,
  li,
  a {
    font-size: 1.8rem;
  }
}
